<h3>商品一覧</h3>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |products| %>
    <tr>
      <td><%= products.id %></td>
      <td><%= link_to products.name, admin_product_path(products) %></td>
      <td><%= products.price %></td>
      <td><%= products.genre.name %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
